llvmlite
librosa
numpy
opencv-python
pillow
typed-argument-parser
transformers
torch
torchvision
accelerate
diffusers
tqdm
tqdm-stubs
datasets
jiwer
typing
soundfile
scipy
segment-anything
httpx==0.28.1
python-telegram-bot==21.11.1
